@* @model CultureWeb.Models.Purchase *@
@model List<Products>
@using CultureWeb.Models;
@using CultureWeb.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = @localizer["Purchase Create"];
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="pt-title ">
        <p class="fs-6"><a asp-action="Index" class="fs-5 text-danger">@localizer["Purchase List"]</a> <i class="fa-solid fa-chevron-right"></i> @localizer["Purchase Create"]</p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-8 order-lg-1 order-2 px-lg-4">
        <form asp-action="Create" method="post" class="mb-3 row justify-content-center d-flex" enctype="multipart/form-data">
            <div class="col-6 mb-3 d-flex">
               
                    @* <label for="supplierId" class="form-label">@localizer["Supplier"]</label> *@
                    <select class="form-select" id="supplierId" name="supplierId" required>
                        <option value="" disabled selected>@localizer["Select Supplier"]</option>
                        @foreach (var supplier in ViewBag.Suppliers)
                        {
                            <option value="@supplier.Id">
                                @if (CultureInfo.CurrentUICulture.Name == "en")
                                {
                                    @supplier.SupplierName
                                }
                                else if (CultureInfo.CurrentUICulture.Name == "km")
                                {
                                    @supplier.SupplierName_kh
                                }
                            </option>
                        }
                    </select>
              
                    <a class="btn btn-secondary mx-2" asp-action="Create" asp-controller="Suppliers">
                        <i class="fa-solid fa-plus"></i>
                    </a>
              
              

            </div>
            <h4>@localizer["Purchase Products"]</h4>
            @if (Model.Count > 0)
            {
                <table class="table table-responsive-sm align-middle ">
                    <thead class="bg-gray">
                        <tr>
                            <th>@localizer["Product"]</th>                            
                            <th>@localizer["Quantity"]</th>
                            <th>@localizer["Cost Price"]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {                           
                            <tr class="align-middle">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <td>
                                    <span>
                                        <a >
                                            <img src="~/@item.Image" alt="" style="width: 55px; height: 55px" class="rounded-3 object-fit" />
                                        </a>
                                    </span>
                                    <span class="text-black fs-6 fw-bolder mx-3">
                                        <a class="text-black fs-6 fw-bolder mx-3">
                                            @switch (CultureInfo.CurrentUICulture.Name)
                                            {
                                                case "en":
                                                    @item.Name
                                                    break;
                                                case "km":
                                                    @item.Name_kh
                                                    break;
                                                default:
                                                    @item.Name
                                                    break;
                                            }
                                        </a>
                                    </span>
                                </td>
                               
                                <td>
                                    <div class="d-flex flex-row">
                                       
                                        <div class="d-flex flex-row border-1 rounded-2" style="border: 1px solid black; ">
                                            <button type="button" class="btn btn-link px-2 text-dark"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <input min="1" name="Quantity_@item.Id" value="1" type="number" class="form-control text-center border-none quantity focus-none bg-white" style="width: 60px;" readonly="readonly"/>

                                            <button type="button" class="btn btn-link px-2 text-dark"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <span class="">
                                        <input min="0" name="costPrice_@item.Id" type="number" class="form-control" style="width: 120px;" placeholder="$" required/>
                                    </span>
                                </td>                            
                               @*  <td>
                                    <span class="pt-3">
                                        <form asp-action="RemoveAll" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="productId" value="@item.Id" />
                                            <button type="submit" class="btn-close close" asp-action="RemoveAll" asp-route-id="@item.Id" title="@localizer["Remove from Purchase"]"></button>
                                        </form>
                                    </span>
                                </td> *@
                            </tr>

                        }
                    </tbody>

                    <tfoot>
                    </tfoot>
                </table>
                <div class="text-end">
                    <button type="submit" class="btn btn-dark text-end">@localizer["Purchase"]</button>
                </div>
               
            }
             
            else
            {
                <table class="table table-responsive-sm align-middle">
                    <thead class="bg-gray">
                        <tr>
                            <th>@localizer["Product"]</th>
                            <th>@localizer["Quantity"]</th>
                            <th>@localizer["Cost Price"]</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                       

                        
                    </tbody>

                    <tfoot>
                    </tfoot>
                </table>
                <div class="align-middle text-center">
                    <span class="text-center">
                        @localizer["No product to purchase"]
                    </span>
                </div>
            }

           
        </form>
    </div>
    <div class="col-lg-4 bg-white rounded-1 p-3 order-lg-2 order-1" style="margin-left: 0px;">
        @foreach (var product in ViewBag.Products)
        {
            bool isProductInSession = (ViewBag.ProductsInSession as List<Products>)?.Any(p => p.Id == product.Id) ?? false;
            <div class="d-flex justify-content-between mt-2">
                <div class="d-flex">

                    <img src="~/@product.Image" asp-append-version="true" alt="" class="img-fluid" style="width: 50px; height: 50px; border-radius: 5px; object-fit: cover;">
                                  
                    <span class="fs-7 mx-3 d-flex flex-column">
                        
                        <span class="fs-7 mx-3">
                            @if (CultureInfo.CurrentUICulture.Name == "en")
                            {
                                @product.Name
                            }
                            else if (CultureInfo.CurrentUICulture.Name == "km")
                            {
                                @product.Name_kh
                            }
                        </span>
                        <span class="fs-7 mx-3 text-success">                           
                                $@product.Price
                            <span class="text-secondary mx-3">@localizer["Quantities"] : @product.Qty</span>
                        </span>
                    </span>
                </div>

                <div>
                    
                    @if (isProductInSession)
                    {
                        <form asp-action="RemoveAll" method="post" enctype="multipart/form-data" class="d-flex">
                            <div asp-validation-summary="ModelOnly" class="text-danger">
                            </div>
                            <input type="hidden" name="productId" value="@product.Id" />
                            <!-- If the product is in the session, show the "Remove" button -->
                            <button type="submit" class="btn btn-sm btn-danger px-3" >@localizer["Remove"]</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="AddToPurchase" method="post" enctype="multipart/form-data" class="d-flex">
                            <div asp-validation-summary="ModelOnly" class="text-danger">
                            </div>
                            <input type="hidden" name="id" value="@product.Id" />
                            <!-- If the product is not in the session, show the "Add" button -->
                            <button type="submit" class="btn btn-sm btn-dark px-3 ">@localizer["Add"]</button>
                        </form>
                    }
                   
                </div>
            </div>
          
                          
        }
    </div>
</div>

