@{
    ViewData["Title"] = @localizer["Dashboard"];
}


<div class="container-fluid trany">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-danger">@localizer["Dashboard"]</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Product (totaly) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-controller="Product" asp-action="Index" class="text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @localizer["Product"] (@localizer["Totaly"])
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.ProductCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <!-- All count of orders price Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
             <a asp-controller="Order" asp-action="Index" class="text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    @localizer["Earning"] (@localizer["Order"] @localizer["Totaly"])
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@ViewBag.TotalAmount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-controller="Order" asp-action="Index" class="text-decoration-none">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    @localizer["Total Cost"] (@localizer["Purchase"] @localizer["Totaly"])
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$@ViewBag.TotalPurchaseAmount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Blogs Card -->
        <div class="col-xl-3 col-md-6 mb-4">
             <a asp-controller="Blogs" asp-action="Index" class="text-decoration-none">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    @localizer["All Blogs"]
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.BlogCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <!-- User Card -->
        <div class="col-xl-3 col-md-6 mb-4">
             <a asp-area="Customer" asp-controller="User" asp-action="Index" class="text-decoration-none">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                @localizer["User"]
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.UserCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>

    <!-- Content Row -->
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card calendar -->
            <div class="card shadow mb-4 calendar ">
                <div class="py-3 calendar-header">
                    <span class="month-picker" id="month-picker">@localizer["February"]</span>
                            <div class="year-picker">
                                <span class="year-change" id="prev-year">
                            <i class="fas fa-chevron-left"></i>
                                </span>
                                <span id="year">2021</span>
                                <span class="year-change" id="next-year">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </div>
                </div>
                <div class="calendar-body">                                                               
                            <div class="calendar-week-day">
                        <div>@localizer["Sun"]</div>
                        <div>@localizer["Mon"]</div>
                        <div>@localizer["Tue"]</div>
                        <div>@localizer["Wed"]</div>
                        <div>@localizer["Thu"]</div>
                        <div>@localizer["Fri"]</div>
                        <div>@localizer["Sat"]</div>
                            </div>
                            <div class="calendar-days"></div>
                        </div>
                <div class="calendar-footer">
                </div>
                <div class="month-list"></div>              
            </div>           
        </div> 
    </div>
</div>
<!-- /.container-fluid -->
@section Scripts {
    <script>
        let calendar = document.querySelector('.calendar')

        const month_names = ['@localizer["January"]', '@localizer["February"]', '@localizer["March"]', '@localizer["April"]', '@localizer["May"]', '@localizer["June"]', '@localizer["July"]', '@localizer["August"]', '@localizer["September"]', '@localizer["October"]', '@localizer["November"]', '@localizer["December"]']

        isLeapYear = (year) => {
            return (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) || (year % 100 === 0 && year % 400 === 0)
        }

        getFebDays = (year) => {
            return isLeapYear(year) ? 29 : 28
        }

        generateCalendar = (month, year) => {

            let calendar_days = calendar.querySelector('.calendar-days')
            let calendar_header_year = calendar.querySelector('#year')

            let days_of_month = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

            calendar_days.innerHTML = ''

            let currDate = new Date()
            if (!month) month = currDate.getMonth()
            if (!year) year = currDate.getFullYear()

            let curr_month = `${month_names[month]}`
            month_picker.innerHTML = curr_month
            calendar_header_year.innerHTML = year

            // get first day of month

            let first_day = new Date(year, month, 1)

            for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
                let day = document.createElement('div')
                if (i >= first_day.getDay()) {
                    day.classList.add('calendar-day-hover')
                    day.innerHTML = i - first_day.getDay() + 1
                    day.innerHTML += `<span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>`
                    if (i - first_day.getDay() + 1 === currDate.getDate() && year === currDate.getFullYear() && month === currDate.getMonth()) {
                        day.classList.add('curr-date')
                    }
                }
                calendar_days.appendChild(day)
            }
        }

        let month_list = calendar.querySelector('.month-list')

        month_names.forEach((e, index) => {
            let month = document.createElement('div')
            month.innerHTML = `<div data-month="${index}">${e}</div>`
            month.querySelector('div').onclick = () => {
                month_list.classList.remove('show')
                curr_month.value = index
                generateCalendar(index, curr_year.value)
            }
            month_list.appendChild(month)
        })

        let month_picker = calendar.querySelector('#month-picker')

        month_picker.onclick = () => {
            month_list.classList.add('show')
        }

        let currDate = new Date()

        let curr_month = { value: currDate.getMonth() }
        let curr_year = { value: currDate.getFullYear() }

        generateCalendar(curr_month.value, curr_year.value)

        document.querySelector('#prev-year').onclick = () => {
            --curr_year.value
            generateCalendar(curr_month.value, curr_year.value)
        }

        document.querySelector('#next-year').onclick = () => {
            ++curr_year.value
            generateCalendar(curr_month.value, curr_year.value)
        }

        let dark_mode_toggle = document.querySelector('.dark-mode-switch')

        dark_mode_toggle.onclick = () => {
            document.querySelector('body').classList.toggle('light')
            document.querySelector('body').classList.toggle('dark')
        }

        //Check-in chat
        var xValues = ["Mon", "Tue", "Wed", "Thurs", "Fri", "Sat"];
        var yValues = [8.15, 8.0, 8.35, 8.50, 8.3, 8.60, 9];

        new Chart("myChart-in", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Check-in overview"
                }
            }
        });
        //check-out overview
        var xValues = ["Mon", "Tue", "Wed", "Thurs", "Fri", "Sat"];
        var yValues = [4.15, 4.0, 4.35, 4.50, 4.3, 4.60, 5];

        new Chart("myChart-out", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Check-out overview"
                }
            }
        });

        //active progress
        let number1 = document.getElementById("number1");
        let counter1 = 0;
        setInterval(() => {
            if (counter1 == 70) {
                clearInterval();
            }
            else {
                counter1 += 1;
                number1.innerHTML = counter1 + "%";
            }
        }, 5
        );
        //paginator


    </script>
}