@using CultureWeb.Models;
@using CultureWeb.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model CultureWeb.Models.SubCategory

@*@using X.PagedList.Mvc;*@
@using X.PagedList.Mvc.Core;
@*@model List<Products>*@
@*@model PaginatedList<CultureWeb.Models.Products>*@
@{
    var category_name = @ViewBag.CategoryName;
    var category_name_kh = @ViewBag.CategoryName_kh;
    var subCategories = @ViewBag.SubCategories;
    ViewData["Title"] = category_name ?? "All Products";
}
@{
    //var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();

}

@section Style {
    <style>
        .disabled {
            opacity: 0.2;
            pointer-events: none;
        }
    </style>
}
<nav class="navbar navbar-expand-md bg-brown navbar-dark sticky-top  shadow-sm">
    <div class="container-fluid text-start">
        <div class="col-md-1 col-lg-2 px-2">
            <a class="navbar-brand d-flex flex-column " href="#">
                <img src="~/Images/M.png" class="logo" width="35px" class="shadow" alt="">
                <img src="~/Images/morodok.png" width="35px" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" col-md-11 col-lg-10 collapse navbar-collapse d-lg-flex justify-content-lg-end" id="collapsibleNavbar">
            <ul class="navbar-nav ">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item mx-2"><a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Dashboard">@localizer["Dashboard"]</a></li>
                }

                @if (User.IsInRole("SuperUser"))
                {
                    <li class="nav-item mx-2"><a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">@localizer["Super User Dashboard"]</a></li>
                }
                <li class="nav-item mx-2">
                    <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">@localizer["Home"]</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-action="AllProduct">@localizer["Product"]</a>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="./Blog.cshtml" role="button" data-bs-toggle="dropdown">@localizer["Blog"]</a>
                    <ul class="dropdown-menu bg-brown">
                        <li><a asp-action="Last-Blog" asp-controller="Home" asp-area="Customer" class="dropdown-item-2  nav-link">@localizer["Latest Blog"]</a></li>
                        @foreach (var item in ViewBag.SubBlogs)
                        {
                            <li>
                                @if (CultureInfo.CurrentUICulture.Name == "en")
                                {
                                    <a asp-action="Blog" asp-controller="Home" asp-area="Customer" class="dropdown-item-2  nav-link" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                }
                                else if (CultureInfo.CurrentUICulture.Name == "km")
                                {
                                    <a asp-action="Blog" asp-controller="Home" asp-area="Customer" class="dropdown-item-2  nav-link" asp-route-id="@item.Id">
                                        @item.Name_kh
                                    </a>
                                }
                            </li>

                        }
                    </ul>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="About">@localizer["About"]</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Contact">@localizer["Contact"]</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Cart" title="@localizer["Cart"]" >
                        <i class="fa-solid fa-bag-shopping"></i>
                        (@count)
                    </a>
                </li>
                <li class="nav-item mx-2">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a id="login" asp-area="Identity" asp-page="/Account/Login" class="nav-link" title="@localizer["Favorite"]"><i class="fa fa-heart"></i> (0)</a>
                    }
                    else
                    {

                        <a asp-area="Customer" asp-controller="Home" asp-action="FavoriteProduct" class="nav-link" title="@localizer["Favorite"]"><i class="fa fa-heart"></i> (@ViewBag.FavoriteProductCount)</a>

                    }
                </li>

                <li class="nav-item dropdown mx-2">
                    @{
                        var culture = Context.Features.Get<IRequestCultureFeature>();
                        var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
                        var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
                    }

                    <form method="post" asp-area="Customer" asp-action="ChangeLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl">
                        <a class="nav-link " href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-language fs-4"></i>
                        </a>
                        <ul class="dropdown-menu bg-brown shadow animated--grow-in drop-sm-right" aria-labelledby="userDropdown">
                            <button class="dropdown-item-2 bg-brown border-none text-white" type="submit" name="culture" value="en">
                                <img src="~/images/en.png" class="flag-icon " width="20px" height="15px" style="margin-right: 6px; color: white !important;" />
                                @localizer["English"]
                            </button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item-2 bg-brown border-none text-white" type="submit" name="culture" value="km">
                                <img src="~/images/km.png" class="flag-icon" width="20px" height="15px" style="margin-right: 6px; color: white !important;" />
                                @localizer["Khmer"]
                            </button>
                            <!-- Add more language options as needed -->
                        </ul>
                    </form>
                </li>
                <li class="nav-item dropdown mx-3">
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-12 d-flex justify-content-center align-items-center m-0 p-0 h-75">
    <img src="~/images/bg/bgmusic.jpg" alt="" width="100%" height="65%" class="position-relative h-75">
    <h1 class="position-absolute text-brown-light fw-bolder ">@localizer["Khmer Music Instruments"]</h1>
</div>
<div class="col-12 bg-white p-4">
    <div class="row bg-white text-light d-flex ">
        <div class="col-12  my-4">
            <div class="d-flex justify-content-center">
                <form asp-area="Customer" asp-controller="Home" asp-action="Search" asp-route-id="@Model.Id" method="get" class="col-xs-12 col-sm-10 col-md-6 col-lg-4 d-flex align-items-center justify-content-end">
                    <input name="search" type="text" class="form-control rounded-5 position-relative  px-3 " placeholder="@localizer["Search"]" id="example-search-input">
                    <button type="submit" class="btn btn-light border-none text-dark position-absolute px-3 rounded-5" style="border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important; ">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="col-12 bg-light-white py-5 px-4">
            <div class="category-body" id="itemperpage">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <div class="dropdown">
                            <a class="btn btn-light shadow-sm dropdown-toggle" href="./products.html" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                @localizer["Filter by Category"]
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="AllProduct">@localizer["All Products"]</a></li>
                                @foreach (var item in ViewBag.SubCategories)
                                {
                                    @if (CultureInfo.CurrentUICulture.Name == "en")
                                    {
                                        <li>
                                            <a asp-action="Product-Category" asp-controller="Home" asp-area="Customer" class="dropdown-item" asp-route-id="@item.Id">
                                                @item.Name
                                            </a>
                                        </li>
                                    }
                                    else if (CultureInfo.CurrentUICulture.Name == "km")
                                    {
                                        <li>
                                            <a asp-action="Product-Category" asp-controller="Home" asp-area="Customer" class="dropdown-item" asp-route-id="@item.Id">
                                                @item.Name_kh
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <h2 class="text-dark">
                            @if (CultureInfo.CurrentUICulture.Name == "en")
                            {
                                @Model.Name
                            }
                            else if (CultureInfo.CurrentUICulture.Name == "km")
                            {
                                @Model.Name_kh
                            }


                        </h2>
                        <div class="row">
                            @foreach (var product in Model.Products)
                            {

                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
                                    <div class="product-card mt-3">
                                        @if (product.Reviews.Any() && product.Reviews.Average(r => r.Rating) >= 4)
                                        {
                                            <div class="badge">@localizer["Top Rated"]</div>
                                        }
                                        <div class="product-tumb">
                                            <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="text-decoration-none">
                                                <img src="~/@product.Image" alt="">
                                            </a>
                                        </div>
                                        <div class="product-details">
                                            <span class="product-catagory">
                                                @switch (CultureInfo.CurrentUICulture.Name)
                                                {
                                                    case "en":
                                                        @($"{product.SubCategories.Name}")
                                                        break;
                                                    case "km":
                                                        @($"{product.SubCategories.Name_kh}")
                                                        break;
                                                    default:
                                                        @($"{product.SubCategories.Name}")
                                                        break;
                                                }
                                            </span>
                                            <h4>
                                                <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="text-decoration-none">
                                                    @switch (CultureInfo.CurrentUICulture.Name)
                                                    {
                                                        case "en":
                                                            @($"{product.Name}")
                                                            break;
                                                        case "km":
                                                            @($"{product.Name_kh}")
                                                            break;
                                                        default:
                                                            @($"{product.Name}")
                                                            break;
                                                    }
                                                </a>
                                            </h4>
                                            <p class="cha-20">
                                                @switch (CultureInfo.CurrentUICulture.Name)
                                                {
                                                    case "en":
                                                        @($"{product.Description}")
                                                        break;
                                                    case "km":
                                                        @($"{product.Description_kh}")
                                                        break;
                                                    default:
                                                        @($"{product.Description}")
                                                        break;
                                                }
                                            </p>
                                            <div class="product-bottom-details">
                                                <div class="product-price"><small>$296.00</small>$@product.Price</div>
                                                <div class="product-links">
                                                    <div>
                                                        @if (!User.Identity.IsAuthenticated)
                                                        {
                                                            <a id="login" asp-area="Identity" asp-page="/Account/Login" class=""><i class="fa fa-heart"></i></a>
                                                        }
                                                        else
                                                        {
                                                            var isProductInFavorites = (List<int>)ViewBag.FavoriteProductIds;
                                                            if (!isProductInFavorites.Contains(product.Id))
                                                            {
                                                                <form asp-action="AddToFavorites" asp-route-productId="@product.Id" method="post">
                                                                    <button type="submit" class="">
                                                                        <i class="fa fa-heart"></i>
                                                                    </button>
                                                                </form>
                                                            }
                                                            else
                                                            {
                                                                <form asp-action="RemoveFromFavorites" asp-route-productId="@product.Id" method="post">
                                                                    <button type="submit" class="border-none bg-none">
                                                                        <i class="fa fa-heart" style="color: orangered;"></i>
                                                                    </button>
                                                                </form>
                                                            }
                                                        }
                                                    </div>
                                                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>

            </div>

            <div class="category-body-footer">
                <div class="bottom-field">
                    <ul class="pagination">
                        <li class="prev"><a href="#" id="prev" class="fs-6">&#139;</a></li>
                        <!-- page number here -->
                        <li class="next"><a href="#" id="next">&#155;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bottom header -->
<!-- alert -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="status modal-content ">
            <div class="modal-body d-flex pt-4 align-middle">
                <div class="mx-2 align-middle">
                    <i class="fas fa-check-circle fs-3 p-3 bg-success rounded-circle text-white"></i>
                </div>
                <div class="px-4 align-middle text-success">
                    <span class="fw-bold">@localizer["Success"]!</span>
                    <p class="fs-6">@((TempData["StatusMessage"]?.ToString() != null) ? localizer[TempData["StatusMessage"].ToString()] : "")</p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["StatusMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#statusModal').modal('show');
            setTimeout(function () {
                $('#statusModal').modal('hide');
            }, 3000); // Change the value to the desired number of milliseconds (e.g., 3000 for 3 seconds)
        });
    </script>
}